---
http_interactions:
- request:
    method: get
    uri: https://api.edamam.com/api/recipes/v2?app_id=<recipe_api_id>&app_key=<recipe_api_key>&q=thailand&type=public
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"from":1,"to":20,"count":192,"_links":{"next":{"href":"https://api.edamam.com/api/recipes/v2?q=thailand&app_key=<recipe_api_key>&_cont=CHcVQBtNNQphDmgVQ3tAEX4BYVRtAgYDRWRCBGYUYlxxBwsVX3dIADZHYAZ7VgIHFWQRVTdFagZxVVcBRGVABmUQZ1xyVRFqX3cWQT1OcV9xBB8VADQWVhFCPwoxXVZEITQeVDcBaR4-SQ%3D%3D&type=public&app_id=<recipe_api_id>","title":"Next
        page"}},"hits":[{"recipe":{"uri":"http://www.edamam.com/ontologies/edamam.owl#recipe_3a551652abf5a1cef1421660d1b657d9","label":"Andy
        Ricker''s Naam Cheuam Naam Taan Piip (Palm Sugar Simple Syrup)","image":"https://edamam-product-images.s3.amazonaws.com/web-img/611/61165abc1c1c6a185fe5e67167d3e1f0.jpg?X-Amz-Security-Token=IQoJb3JpZ2luX2VjEKH%2F%2F%2F%2F%2F%2F%2F%2F%2F%2FwEaCXVzLWVhc3QtMSJGMEQCIHxyMyxr6ZJumuxXBE0MundLcDwXT%2B%2BxsgBsNAA7pl83AiAldfXVyy4cFlBJsl7RGJxTFxmU7dckIAzP%2B2IDzSLUTirVBAia%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F8BEAAaDDE4NzAxNzE1MDk4NiIMZ41r%2B4qPW0hQPxMlKqkEkoUKmxQ2eFEuK42F9V3wS5GMeeSXJ%2BuOEGEupxCLV4LRUp96LI1f4%2BMkyximKfOiWyVmnXOdhvi8tW9zvVzRLFFXDhES0M0g5%2B7IKWZfz6f0T4dfnC7s0ZFDVZZt[...]
