---
http_interactions:
- request:
    method: get
    uri: https://restcountries.com/v3.1/name/New%20Zealand
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '[{"name":{"common":"New Zealand","official":"New Zealand","nativeName":{"eng":{"official":"New
        Zealand","common":"New Zealand"},"mri":{"official":"Aotearoa","common":"Aotearoa"},"nzs":{"official":"New
        Zealand","common":"New Zealand"}}},"tld":[".nz"],"cca2":"NZ","ccn3":"554","cca3":"NZL","cioc":"NZL","independent":true,"status":"officially-assigned","unMember":true,"currencies":{"NZD":{"name":"New
        Zealand dollar","symbol":"$"}},"idd":{"root":"+6","suffixes":["4"]},"capital":["Wellington"],"altSpellings":["NZ","Aotearoa"],"region":"Oceania","subregion":"Australia
        and New Zealand","languages":{"eng":"English","mri":"Māori","nzs":"New Zealand
        Sign Language"},"translations":{"ara":{"official":"نيوزيلندا","common":"نيوزيلندا"},"bre":{"official":"Zeland-Nevez","common":"Zeland-Nevez"},"ces":{"official":"Nový
        Zéland","common":"Nový Zéland"},"cym":{"official":"New Zealand","common":"New
        Zealand"},"deu":{"official":"Neuseeland","common":"Neuseeland"},"est":{"official":"Uus-Meremaa","common":"Uus-Meremaa"},"fin":{"official":"Uusi-Seelanti","common":"Uusi-Seelanti"},"fra":{"official":"Nouvelle-Zélande","common":"Nouvelle-Zélande"},"hrv":{"official":"Novi
        Zeland","common":"Novi Zeland"},"hun":{"official":"Új-Zéland","common":"Új-Zéland"},"ita":{"official":"Nuova
        Zelanda","common":"Nuova Zelanda"},"jpn":{"official":"ニュージーランド","common":"ニュージーランド"},"kor":{"official":"뉴질랜드","common":"뉴질랜드"},"nld":{"official":"Nieuw
        Zeeland","common":"Nieuw-Zeeland"},"per":{"official":"نیوزیلند","common":"نیوزیلند"},"pol":{"official":"Nowa
        Zelandia","common":"Nowa Zelandia"},"por":{"official":"nova Zelândia","common":"Nova
        Zelândia"},"rus":{"official":"Новая Зеландия","common":"Новая Зеландия"},"slk":{"official":"Nový
        Zéland","common":"Nový Zéland"},"spa":{"official":"nueva Zelanda","common":"Nueva
        Zelanda"},"swe":{"official":"Nya Zeeland","common":"Nya Zeeland"},"tur":{"official":"Yeni
        Zelanda","common":"Yeni Zelanda"},"urd":{"official":"نیوزی لینڈ","common":"نیوزی
        لینڈ"},"zho":{"official":"新西兰","common":"新西兰"}},"latlng":[-41.0,174.0],"landlocked":false,"area":270467.0,"demonyms":{"eng":{"f":"New
        Zealander","m":"New Zealander"},"fra":{"f":"Neo-Zélandaise","m":"Neo-Zélandais"}},"flag":"\uD83C\uDDF3\uD83C\uDDFF","maps":{"googleMaps":"https://goo.gl/maps/xXiDQo65dwdpw9iu8","openStreetMaps":"https://www.openstreetmap.org/relation/556706#map=5/-46.710/172.046"},"population":5084300,"fifa":"NZL","car":{"signs":["NZ"],"side":"left"},"timezones":["UTC-11:00","UTC-10:00","UTC+12:00","UTC+12:45","UTC+13:00"],"continents":["Oceania"],"flags":{"png":"https://flagcdn.com/w320/nz.png","svg":"https://flagcdn.com/nz.svg"},"coatOfArms":{"png":"https://mainfacts.com/media/images/coats_of_arms/nz.png","svg":"https://mainfacts.com/media/images/coats_of_arms/nz.svg"},"startOfWeek":"monday","capitalInfo":{"latlng":[-41.3,174.78]},"postalCode":{"format":"####","regex":"^(\\d{4})$"}}]'
  recorded_at: Mon, 14 Nov 2022 18:17:18 GMT
recorded_with: VCR 6.1.0
