---
http_interactions:
- request:
    method: get
    uri: https://restcountries.com/v3.1/name/Latvia
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '[{"name":{"common":"Latvia","official":"Republic of Latvia","nativeName":{"lav":{"official":"Latvijas
        Republikas","common":"Latvija"}}},"tld":[".lv"],"cca2":"LV","ccn3":"428","cca3":"LVA","cioc":"LAT","independent":true,"status":"officially-assigned","unMember":true,"currencies":{"EUR":{"name":"Euro","symbol":"€"}},"idd":{"root":"+3","suffixes":["71"]},"capital":["Riga"],"altSpellings":["LV","Republic
        of Latvia","Latvijas Republika"],"region":"Europe","subregion":"Northern Europe","languages":{"lav":"Latvian"},"translations":{"ara":{"official":"جمهورية
        لاتفيا","common":"لاتفيا"},"bre":{"official":"Republik Latvia","common":"Latvia"},"ces":{"official":"Lotyšská
        republika","common":"Lotyšsko"},"cym":{"official":"Republic of Latvia","common":"Latvia"},"deu":{"official":"Republik
        Lettland","common":"Lettland"},"est":{"official":"Läti Vabariik","common":"Läti"},"fin":{"official":"Latvian
        tasavalta","common":"Latvia"},"fra":{"official":"République de Lettonie","common":"Lettonie"},"hrv":{"official":"Republika
        Latvija","common":"Latvija"},"hun":{"official":"Lett Köztársaság","common":"Lettország"},"ita":{"official":"Repubblica
        di Lettonia","common":"Lettonia"},"jpn":{"official":"ラトビア共和国","common":"ラトビア"},"kor":{"official":"라트비아
        공화국","common":"라트비아"},"nld":{"official":"Republiek Letland","common":"Letland"},"per":{"official":"جمهوری
        لتونی","common":"لتونی"},"pol":{"official":"Republika Łotewska","common":"Łotwa"},"por":{"official":"República
        da Letónia","common":"Letónia"},"rus":{"official":"Латвийская Республика","common":"Латвия"},"slk":{"official":"Lotyšská
        republika","common":"Lotyšsko"},"spa":{"official":"República de Letonia","common":"Letonia"},"swe":{"official":"Republiken
        Lettland","common":"Lettland"},"tur":{"official":"Letonya Cumhuriyeti","common":"Letonya"},"urd":{"official":"جمہوریہ
        لٹویا","common":"لٹویا"},"zho":{"official":"拉脱维亚共和国","common":"拉脱维亚"}},"latlng":[57.0,25.0],"landlocked":false,"borders":["BLR","EST","LTU","RUS"],"area":64559.0,"demonyms":{"eng":{"f":"Latvian","m":"Latvian"},"fra":{"f":"Lettone","m":"Letton"}},"flag":"\uD83C\uDDF1\uD83C\uDDFB","maps":{"googleMaps":"https://goo.gl/maps/iQpUkH7ghq31ZtXe9","openStreetMaps":"https://www.openstreetmap.org/relation/72594"},"population":1901548,"gini":{"2018":35.1},"fifa":"LVA","car":{"signs":["LV"],"side":"right"},"timezones":["UTC+02:00"],"continents":["Europe"],"flags":{"png":"https://flagcdn.com/w320/lv.png","svg":"https://flagcdn.com/lv.svg"},"coatOfArms":{"png":"https://mainfacts.com/media/images/coats_of_arms/lv.png","svg":"https://mainfacts.com/media/images/coats_of_arms/lv.svg"},"startOfWeek":"monday","capitalInfo":{"latlng":[56.95,24.1]},"postalCode":{"format":"LV-####","regex":"^(?:LV)*(\\d{4})$"}}]'
  recorded_at: Mon, 14 Nov 2022 18:17:17 GMT
recorded_with: VCR 6.1.0
