---
http_interactions:
- request:
    method: get
    uri: https://restcountries.com/v3.1/name/zealand
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '[{"name":{"common":"New Zealand","official":"New Zealand","nativeName":{"eng":{"official":"New
        Zealand","common":"New Zealand"},"mri":{"official":"Aotearoa","common":"Aotearoa"},"nzs":{"official":"New
        Zealand","common":"New Zealand"}}},"tld":[".nz"],"cca2":"NZ","ccn3":"554","cca3":"NZL","cioc":"NZL","independent":true,"status":"officially-assigned","unMember":true,"currencies":{"NZD":{"name":"New
        Zealand dollar","symbol":"$"}},"idd":{"root":"+6","suffixes":["4"]},"capital":["Wellington"],"altSpellings":["NZ","Aotearoa"],"region":"Oceania","subregion":"Australia
        and New Zealand","languages":{"eng":"English","mri":"Māori","nzs":"New Zealand
        Sign Language"},"translations":{"ara":{"official":"نيوزيلندا","common":"نيوزيلندا"},"bre":{"official":"Zeland-Nevez","common":"Zeland-Nevez"},"ces":{"official":"Nový
        Zéland","common":"Nový Zéland"},"cym":{"official":"New Zealand","common":"New
        Zealand"},"deu":{"official":"Neuseeland","common":"Neuseeland"},"est":{"official":"Uus-Meremaa","common":"Uus-Meremaa"},"fin":{"official":"Uusi-Seelanti","common":"Uusi-Seelanti"},"fra":{"official":"Nouvelle-Zélande","common":"Nouvelle-Zélande"},"hrv":{"official":"Novi
        Zeland","common":"Novi Zeland"},"hun":{"official":"Új-Zéland","common":"Új-Zéland"},"ita":{"official":"Nuova
        Zelanda","common":"Nuova Zelanda"},"jpn":{"official":"ニュージーランド","common":"ニュージーランド"},"kor":{"official":"뉴질랜드","common":"뉴질랜드"},"nld":{"official":"Nieuw
        Zeeland","common":"Nieuw-Zeeland"},"per":{"official":"نیوزیلند","common":"نیوزیلند"},"pol":{"official":"Nowa
        Zelandia","common":"Nowa Zelandia"},"por":{"official":"nova Zelândia","common":"Nova
        Zelândia"},"rus":{"official":"Новая Зеландия","common":"Новая Зеландия"},"slk":{"official":"Nový
        Zéland","common":"Nový Zéland"},"spa":{"official":"nueva Zelanda","common":"Nueva
        Zelanda"},"swe":{"official":"Nya Zeeland","common":"Nya Zeeland"},"tur":{"official":"Yeni
        Zelanda","common":"Yeni Zelanda"},"urd":{"official":"نیوزی لینڈ","common":"نیوزی
        لینڈ"},"zho":{"official":"新西兰","common":"新西兰"}},"latlng":[-41.0,174.0],"landlocked":false,"area":270467.0,"demonyms":{"eng":{"f":"New
        Zealander","m":"New Zealander"},"fra":{"f":"Neo-Zélandaise","m":"Neo-Zélandais"}},"flag":"\uD83C\uDDF3\uD83C\uDDFF","maps":{"googleMaps":"https://goo.gl/maps/xXiDQo65dwdpw9iu8","openStreetMaps":"https://www.openstreetmap.org/relation/556706#map=5/-46.710/172.046"},"population":5084300,"fifa":"NZL","car":{"signs":["NZ"],"side":"left"},"timezones":["UTC-11:00","UTC-10:00","UTC+12:00","UTC+12:45","UTC+13:00"],"continents":["Oceania"],"flags":{"png":"https://flagcdn.com/w320/nz.png","svg":"https://flagcdn.com/nz.svg"},"coatOfArms":{"png":"https://mainfacts.com/media/images/coats_of_arms/nz.png","svg":"https://mainfacts.com/media/images/coats_of_arms/nz.svg"},"startOfWeek":"monday","capitalInfo":{"latlng":[-41.3,174.78]},"postalCode":{"format":"####","regex":"^(\\d{4})$"}}]'
  recorded_at: Mon, 14 Nov 2022 19:15:43 GMT
- request:
    method: get
    uri: https://api.geoapify.com/v2/places?apiKey=<places_api_key>&categories=tourism.sights&filter=circle:174.0,-41.0,20000
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Api-Version:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"type":"FeatureCollection","features":[{"type":"Feature","properties":{"name":"Historic
        gun emplacement","street":"Bulwer Road","state":"Marlborough","country":"New
        Zealand","country_code":"nz","lon":173.9955635,"lat":-40.9694175,"formatted":"Historic
        gun emplacement, Bulwer Road, New Zealand","address_line1":"Historic gun emplacement","address_line2":"Bulwer
        Road, New Zealand","categories":["tourism","tourism.sights","tourism.sights.ruines"],"details":["details.historic"],"datasource":{"sourcename":"openstreetmap","attribution":"©
        OpenStreetMap contributors","license":"Open Database Licence","url":"https://www.openstreetmap.org/copyright","raw":{"name":"Historic
        gun emplacement","osm_id":5830971518,"historic":"ruins","osm_type":"n","historic:civilization":"modern"}},"place_id":"51ed32fca7dbbf654059798267df157c44c0f00103f9017e908d5b01000000920318486973746f7269632067756e20656d706c6163656d656e74"},"geometry":{"type":"Point","coordinates":[173.99556350000003,-40.969417501012636]}},{"type":"Feature","properties":{"street":"Waitata
        Road","state":"Marlborough","postcode":"7193","country":"New Zealand","country_code":"nz","lon":173.9058015334395,"lat":-41.0169375,"formatted":"Waitata
        Road, 7193, New Zealand","address_line1":"Waitata Road","address_line2":"7193,
        New Zealand","categories":["building","building.historic","building.military","tourism","tourism.sights"],"details":["details.historic"],"datasource":{"sourcename":"openstreetmap","attribution":"©
        OpenStreetMap contributors","license":"Open Database Licence","url":"https://www.openstreetmap.org/copyright","raw":{"osm_id":987533419,"building":"bunker","historic":"yes","military":"bunker","osm_type":"w","bunker_type":"gun_emplacement"}},"place_id":"516ed8ad50fcbc6540594c4d3f3b2b8244c0f00102f9016b90dc3a00000000"},"geometry":{"type":"Point","coordinates":[173.905800189535,-41.01694431868472]}},{"type":"Feature","properties":{"street":"Clova
        Bay Road","state":"Marlborough","country":"New Zealand","country_code":"nz","lon":174.0405953,"lat":-41.0149297,"formatted":"Clova
        Bay Road, New Zealand","address_line1":"Clova Bay Road","address_line2":"New
        Zealand","categories":["tourism","tourism.[...]
