---
http_interactions:
- request:
    method: get
    uri: https://restcountries.com/v3.1/name/fran
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '[{"name":{"common":"French Polynesia","official":"French Polynesia","nativeName":{"fra":{"official":"Polynésie
        française","common":"Polynésie française"}}},"tld":[".pf"],"cca2":"PF","ccn3":"258","cca3":"PYF","independent":false,"status":"officially-assigned","unMember":false,"currencies":{"XPF":{"name":"CFP
        franc","symbol":"₣"}},"idd":{"root":"+6","suffixes":["89"]},"capital":["Papeetē"],"altSpellings":["PF","Polynésie
        française","French Polynesia","Pōrīnetia Farāni"],"region":"Oceania","subregion":"Polynesia","languages":{"fra":"French"},"translations":{"ara":{"official":"بولينزيا
        الفرنسية","common":"بولينزيا الفرنسية"},"bre":{"official":"Polinezia C''hall","common":"Polinezia
        C''hall"},"ces":{"official":"Francouzská Polynésie","common":"Francouzská
        Polynésie"},"cym":{"official":"French Polynesia","common":"French Polynesia"},"deu":{"official":"Französisch-Polynesien","common":"Französisch-Polynesien"},"est":{"official":"Prantsuse
        Polüneesia","common":"Prantsuse Polüneesia"},"fin":{"official":"Ranskan Polynesia","common":"Ranskan
        Polynesia"},"fra":{"official":"Polynésie française","common":"Polynésie française"},"hrv":{"official":"Francuska
        Polinezija","common":"Francuska Polinezija"},"hun":{"official":"Francia Polinézia","common":"Francia
        Polinézia"},"ita":{"official":"Polinesia Francese","common":"Polinesia Francese"},"jpn":{"official":"フランス領ポリネシア","common":"フランス領ポリネシア"},"kor":{"official":"프랑스령
        폴리네시아","common":"프랑스령 폴리네시아"},"nld":{"official":"Frans-Polynesië","common":"Frans-Polynesië"},"per":{"official":"پُلی‌نِزی
        فرانسه","common":"پُلی‌نِزی فرانسه"},"pol":{"official":"Polinezja Francuska","common":"Polinezja
        Francuska"},"por":{"official":"Polinésia Francesa","common":"Polinésia Francesa"},"rus":{"official":"Французская
        Полинезия","common":"Французская Полинезия"},"slk":{"official":"Francúzska
        Polynézia","common":"Francúzska Polynézia"},"spa":{"official":"Polinesia francés","common":"Polinesia
        Francesa"},"swe":{"official":"Franska Polynesien","common":"Franska Polynesien"},"tur":{"official":"Fransız
        Polinezyası","common":"Fransız Polinezyası"},"urd":{"official":"فرانسیسی پولینیشیا","common":"فرانسیسی
        پولینیشیا"},"zho":{"official":"法属波利尼西亚","common":"法属波利尼西亚"}},"latlng":[17.6797,149.4068],"landlocked":false,"area":4167.0,"demonyms":{"eng":{"f":"French
        Polynesian","m":"French Polynesian"},"fra":{"f":"Polynésienne","m":"Polynésien"}},"flag":"\uD83C\uDDF5\uD83C\uDDEB","maps":{"googleMaps":"https://goo.gl/maps/xgg6BQTRyeQg4e1m6","openStreetMaps":"https://www.openstreetmap.org/relation/3412620"},"population":280904,"car":{"signs":["F"],"side":"right"},"timezones":["UTC-10:00","UTC-09:30","UTC-09:00"],"continents":["Oceania"],"flags":{"png":"https://flagcdn.com/w320/pf.png","svg":"https://flagcdn.com/pf.svg"},"coatOfArms":{"png":"https://mainfacts.com/media/images/coats_of_arms/pf.png","svg":"https://mainfacts.com/media/images/coats_of_arms/pf.svg"},"startOfWeek":"monday","capitalInfo":{"latlng":[-17.53,-149.56]},"postalCode":{"format":"#####","regex":"^((97|98)7\\d{2})$"}},{"name":{"common":"France","official":"French
        Republic","nativeName":{"fra":{"official":"République française","common":"France"}}},"tld":[".fr"],"cca2":"FR","ccn3":"250","cca3":"FRA","cioc":"FRA","independent":true,"status":"officially-assigned","unMember":true,"currencies":{"EUR":{"name":"Euro","symbol":"€"}},"idd":{"root":"+3","suffixes":["3"]},"capital":["Paris"],"altSpellings":["FR","French
        Republic","République française"],"region":"Europe","subregion":"Western Europe","languages":{"fra":"French"},"translations":{"ara":{"official":"الجمهورية
        الفرنسية","common":"فرنسا"},"bre":{"official":"Republik Frañs","common":"Frañs"},"ces":{"official":"Francouzská
        republika","common":"Francie"},"cym":{"official":"French Republic","common":"France"},"deu":{[...]
- request:
    method: get
    uri: https://api.geoapify.com/v2/places?apiKey=<places_api_key>&categories=tourism.sights&filter=circle:149.4068,17.6797,20000
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Api-Version:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"type":"FeatureCollection","features":[]}'
  recorded_at: Mon, 14 Nov 2022 19:15:45 GMT
recorded_with: VCR 6.1.0
