---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/search?channelId=<mr_history_id>&key=<youtube_api_key>&part=snippet&q=thailand
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "youtube#searchListResponse",
          "etag": "fVu7Ruescrq5v2yZiddssqABc1I",
          "nextPageToken": "CAUQAA",
          "regionCode": "US",
          "pageInfo": {
            "totalResults": 9,
            "resultsPerPage": 5
          },
          "items": [
            {
              "kind": "youtube#searchResult",
              "etag": "g_AANaDO0PP_y9-nAEiKyK7DquE",
              "id": {
                "kind": "youtube#video",
                "videoId": "uw8hjVqxMXw"
              },
              "snippet": {
                "publishedAt": "2021-08-29T10:13:10Z",
                "channelId": "<mr_history_id>",
                "title": "A Super Quick History of Laos",
                "description": "Audio Requiring Attribution: LukeIRL: https://freesound.org/people/LukeIRL/sounds/176134/ RTB45: ...",
                "thumbnails": {
                  "default": {
                    "url": "https://i.ytimg.com/vi/uw8hjVqxMXw/default.jpg",
                    "width": 120,
                    "height": 90
                  },
                  "medium": {
                    "url": "https://i.ytimg.com/vi/uw8hjVqxMXw/mqdefault.jpg",
                    "width": 320,
                    "height": 180
                  },
                  "high": {
                    "url": "https://i.ytimg.com/vi/uw8hjVqxMXw/hqdefault.jpg",
                    "width": 480,
                    "height": 360
                  }
                },
                "channelTitle": "Mr History",
                "liveBroadcastContent": "none",
                "publishTime": "2021-08-29T10:13:10Z"
              }
            },
            {
              "kind": "youtube#searchResult",
              "etag": "h4pHyg_vEMULibkOlCKIxId3udI",
              "id": {
                "kind": "youtube#video",
                "videoId": "s31ymVzOfGY"
              },
              "snippet": {
                "publishedAt": "2019-09-24T08:31:33Z",
                "channelId": "<mr_history_id>",
                "title": "15 Things Not From the Country You Think",
            [...]
- request:
    method: get
    uri: https://api.unsplash.com/search/photos?client_id=<unsplash_api_key>&query=thailand
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Unsplash-Version:
      - v1
      Warning:
      - The tags property in this endpoint is deprecated. https://changelog.unsplash.com/deprecations/2021/07/12/tags-search-deprecation.html
      Link:
      - <https://api.unsplash.com/search/photos?client_id=<unsplash_api_key>&page=895&query=thailand>;
        rel="last", <https://api.unsplash.com/search/photos?client_id=<unsplash_api_key>&page=2&query=thailand>;
        rel="next"
      X-Total:
      - '8946'
      X-Per-Page:
      - '10'
      Content-Language:
      - en
      Etag:
      - W/"249fb20aef8264f39c4fb119270ea21a"
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaining:
      - '49'
    body:
      encoding: UTF-8
      string: "{\"total\":8946,\"total_pages\":895,\"results\":[{\"id\":\"gsllxmVO4HQ\",\"created_at\":\"2018-06-05T06:50:34Z\",\"updated_at\":\"2022-11-12T22:03:35Z\",\"promoted_at\":null,\"width\":5034,\"height\":3356,\"color\":\"#d9d9d9\",\"blur_hash\":\"L.IrQxRlnhM}yZWFoeS5R+bcogoy\",\"description\":\"Traveling
        on motorbike in norther thailand we came across these amazing sculptural temples
        and buildings.\",\"alt_description\":\"standing statue and temples landmark
        during daytime\",\"urls\":{\"raw\":\"https://images.unsplash.com/photo-1528181304800-259b08848526?ixid=MnwzODAyNDB8MHwxfHNlYXJjaHwxfHx0aGFpbGFuZHxlbnwwfHx8fDE2NjgzMDkxNTI\\u0026ixlib=rb-4.0.3\",\"full\":\"https://images.unsplash.com/photo-1528181304800-259b08848526?crop=entropy\\u0026cs=tinysrgb\\u0026fm=jpg\\u0026ixid=MnwzODAyNDB8MHwxfHNlYXJjaHwxfHx0aGFpbGFuZHxlbnwwfHx8fDE2NjgzMDkxNTI\\u0026ixlib=rb-4.0.3\\u0026q=80\",\"regular\":\"https://images.unsplash.com/photo-1528181304800-259b08848526?crop=entropy\\u0026cs=tinysrgb\\u0026fit=max\\u0026fm=jpg\\u0026ixid=MnwzODAyNDB8MHwxfHNlYXJjaHwxfHx0aGFpbGFuZHxlbnwwfHx8fDE2NjgzMDkxNTI\\u0026ixlib=rb-4.0.3\\u0026q=80\\u0026w=1080\",\"small\":\"https://images.unsplash.com/photo-1528181304800-259b08848526?crop=entropy\\u0026cs=tinysrgb\\u0026fit=max\\u0026fm=jpg\\u0026ixid=MnwzODAyNDB8MHwxfHNlYXJjaHwxfHx0aGFpbGFuZHxlbnwwfHx8fDE2NjgzMDkxNTI\\u0026ixlib=rb-4.0.3\\u0026q=80\\u0026w=400\",\"thumb\":\"https://images.unsplash.com/photo-1528181304800-259b08848526?crop=entropy\\u0026cs=tinysrgb\\u0026fit=max\\u0026fm=jpg\\u0026ixid=MnwzODAyNDB8MHwxfHNlYXJjaHwxfHx0aGFpbGFuZHxlbnwwfHx8fDE2NjgzMDkxNTI\\u0026ixlib=rb-4.0.3\\u0026q=80\\u0026w=200\",\"small_s3\":\"https://s3.us-west-2.amazonaws.com/images.unsplash.com/small/photo-1528181304800-259b08848526\"},\"links\":{\"self\":\"https://api.unsplash.com/photos/gsllxmVO4HQ\",\"html\":\"https://unsplash.com/photos/gsllxmVO4HQ\",\"download\":\"https://unsplash.com/photos/gsllxmVO4HQ/download?ixid=MnwzODAyNDB8MHwxfHNlYXJjaHwxfHx0aGFpbGFuZHxlbnwwfHx8fDE2NjgzMDkxNTI\",\"download_location\":\"https://api.unsplash.com/photos/gsllxmVO4HQ/download?ixid=MnwzODAyNDB8MHwxfHNlYXJjaHwxfHx0aGFpbGFuZHxlbnwwfHx8fDE2NjgzMDkxNTI\"},\"likes\":256,\"liked_by_user\":false,\"current_user_collections\":[],\"sponsorship\":null,\"topic_submissions\":{\"nature\":{\"status\":\"rejected\"},\"architecture-interior\":{\"status\":\"rejected\"},\"spirituality\":{\"status\":\"rejected\"},\"arts-culture\":{\"status\":\"rejected\"}},\"user\":{\"id\":\"hae8rLbohfw\",\"updated_at\":\"2022-11-09T13:24:37Z\",\"username\":\"cadop\",\"name\":\"Mathew
        Schwartz\",\"first_name\":\"Mathew\",\"last_name\":\"Schwartz\",\"twitter_username\":null,\"portfolio_url\":\"http://smart-art.org\",\"bio\":\"Researcher
        and designer that likes photography and open source work.  Happy to share
        my photos and hope people find good use from them.\",\"location\":null,\"links\":{\"self\":\"https://api.unsplash.com/users/cadop\",\"html\":\"https://unsplash.com/@cadop\",\"photos\":\"https://api.unsplash.com/users/cadop/photos\",\"likes\":\"https://api.unsplash.com/users/cadop/likes\",\"portfolio\":\"https://api.unsplash.com/users/cadop/portfolio\",\"following\":\"https://api.unsplash.com/users/cadop/following\",\"followers\":\"https://api.unsplash.com/users/cadop/followers\"},\"profile_image\":{\"small\":\"https://images.unsplash.com/placeholder-avatars/extra-large.jpg?ixlib=rb-4.0.3\\u0026crop=faces\\u0026fit=crop\\u0026w=32\\u0026h=32\",\"medium\":\"https://images.unsplash.com/placeholder-avatars/extra-large.jpg?ixlib=rb-4.0.3\\u0026crop=faces\\u0026fit=crop\\u0026w=64\\u0026h=64\",\"large\":\"https://images.unsplash.com/placeholder-avatars/extra-large.jpg?ixlib=rb-4.0.3\\u0026crop=faces\\u0026fit=crop\\u0026w=128\\u0026h=128\"},\"instagram_username\":null,\"total_collections\":11,\"total_likes\":0,\"total_photos\":422,\"accepted_tos\":true,\"for_hire\":false,\"social\":{\"instagram_username\":null,\"portfolio_url\":\"http://smart-art.org\",\"twitter_username\":null,\"paypal_email\":null}},\"tags\":[{\"type\":\"search\",\"title\":\"thailand\"}]},{\"id\":\"jWKk-0ZBUyg\",\"created_at\":\"2019-03-13T08:17:53Z\",\"updated_at\":\"2022-11-12T13:10:54Z\",\"promoted_at\":null,\"width\":4439,\"height\":3072,\"color\":\"#0c59c0\",\"blur_hash\":\"LbD0[^TMtQe,5exaRPjYrVM_t7f-\",\"description\":null,\"alt_description\":\"five
        brown wooden boats\",\"urls\":{\"raw\":\"https://images.unsplash.com/photo-1552465011-b4e21bf6e79a?ixid=MnwzODAyNDB8MHwxfHNlYXJjaHwyfHx0aGFpbGFuZHxlbnwwfHx8fDE2NjgzMDkxNTI\\u0026ixli[...]
