---
http_interactions:
- request:
    method: get
    uri: https://api.geoapify.com/v2/places?apiKey=<places_api_key>&categories=tourism.sights&filter=circle:174.0,-41.0,20000
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Api-Version:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"type":"FeatureCollection","features":[{"type":"Feature","properties":{"name":"Historic
        gun emplacement","street":"Bulwer Road","state":"Marlborough","country":"New
        Zealand","country_code":"nz","lon":173.9955635,"lat":-40.9694175,"formatted":"Historic
        gun emplacement, Bulwer Road, New Zealand","address_line1":"Historic gun emplacement","address_line2":"Bulwer
        Road, New Zealand","categories":["tourism","tourism.sights","tourism.sights.ruines"],"details":["details.historic"],"datasource":{"sourcename":"openstreetmap","attribution":"©
        OpenStreetMap contributors","license":"Open Database Licence","url":"https://www.openstreetmap.org/copyright","raw":{"name":"Historic
        gun emplacement","osm_id":5830971518,"historic":"ruins","osm_type":"n","historic:civilization":"modern"}},"place_id":"51ed32fca7dbbf654059798267df157c44c0f00103f9017e908d5b01000000920318486973746f7269632067756e20656d706c6163656d656e74"},"geometry":{"type":"Point","coordinates":[173.99556350000003,-40.969417501012636]}},{"type":"Feature","properties":{"street":"Waitata
        Road","state":"Marlborough","postcode":"7193","country":"New Zealand","country_code":"nz","lon":173.9058015334395,"lat":-41.0169375,"formatted":"Waitata
        Road, 7193, New Zealand","address_line1":"Waitata Road","address_line2":"7193,
        New Zealand","categories":["building","building.historic","building.military","tourism","tourism.sights"],"details":["details.historic"],"datasource":{"sourcename":"openstreetmap","attribution":"©
        OpenStreetMap contributors","license":"Open Database Licence","url":"https://www.openstreetmap.org/copyright","raw":{"osm_id":987533419,"building":"bunker","historic":"yes","military":"bunker","osm_type":"w","bunker_type":"gun_emplacement"}},"place_id":"516ed8ad50fcbc6540594c4d3f3b2b8244c0f00102f9016b90dc3a00000000"},"geometry":{"type":"Point","coordinates":[173.905800189535,-41.01694431868472]}},{"type":"Feature","properties":{"street":"Clova
        Bay Road","state":"Marlborough","country":"New Zealand","country_code":"nz","lon":174.0405953,"lat":-41.0149297,"formatted":"Clova
        Bay Road, New Zealand","address_line1":"Clova Bay Road","address_line2":"New
        Zealand","categories":["tourism","tourism.[...]
