---
http_interactions:
- request:
    method: get
    uri: https://restcountries.com/v3.1/name/France
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '[{"name":{"common":"France","official":"French Republic","nativeName":{"fra":{"official":"République
        française","common":"France"}}},"tld":[".fr"],"cca2":"FR","ccn3":"250","cca3":"FRA","cioc":"FRA","independent":true,"status":"officially-assigned","unMember":true,"currencies":{"EUR":{"name":"Euro","symbol":"€"}},"idd":{"root":"+3","suffixes":["3"]},"capital":["Paris"],"altSpellings":["FR","French
        Republic","République française"],"region":"Europe","subregion":"Western Europe","languages":{"fra":"French"},"translations":{"ara":{"official":"الجمهورية
        الفرنسية","common":"فرنسا"},"bre":{"official":"Republik Frañs","common":"Frañs"},"ces":{"official":"Francouzská
        republika","common":"Francie"},"cym":{"official":"French Republic","common":"France"},"deu":{"official":"Französische
        Republik","common":"Frankreich"},"est":{"official":"Prantsuse Vabariik","common":"Prantsusmaa"},"fin":{"official":"Ranskan
        tasavalta","common":"Ranska"},"fra":{"official":"République française","common":"France"},"hrv":{"official":"Francuska
        Republika","common":"Francuska"},"hun":{"official":"Francia Köztársaság","common":"Franciaország"},"ita":{"official":"Repubblica
        francese","common":"Francia"},"jpn":{"official":"フランス共和国","common":"フランス"},"kor":{"official":"프랑스
        공화국","common":"프랑스"},"nld":{"official":"Franse Republiek","common":"Frankrijk"},"per":{"official":"جمهوری
        فرانسه","common":"فرانسه"},"pol":{"official":"Republika Francuska","common":"Francja"},"por":{"official":"República
        Francesa","common":"França"},"rus":{"official":"Французская Республика","common":"Франция"},"slk":{"official":"Francúzska
        republika","common":"Francúzsko"},"spa":{"official":"República francés","common":"Francia"},"swe":{"official":"Republiken
        Frankrike","common":"Frankrike"},"tur":{"official":"Fransa Cumhuriyeti","common":"Fransa"},"urd":{"official":"جمہوریہ
        فرانس","common":"فرانس"},"zho":{"official":"法兰西共和国","common":"法国"}},"latlng":[46.0,2.0],"landlocked":false,"borders":["AND","BEL","DEU","ITA","LUX","MCO","ESP","CHE"],"area":551695.0,"demonyms":{"eng":{"f":"French","m":"French"},"fra":{"f":"Française","m":"Français"}},"flag":"\uD83C\uDDEB\uD83C\uDDF7","maps":{"googleMaps":"https://goo.gl/maps/g7QxxSFsWyTPKuzd7","openStreetMaps":"https://www.openstreetmap.org/relation/1403916"},"population":67391582,"gini":{"2018":32.4},"fifa":"FRA","car":{"signs":["F"],"side":"right"},"timezones":["UTC-10:00","UTC-09:30","UTC-09:00","UTC-08:00","UTC-04:00","UTC-03:00","UTC+01:00","UTC+02:00","UTC+03:00","UTC+04:00","UTC+05:00","UTC+10:00","UTC+11:00","UTC+12:00"],"continents":["Europe"],"flags":{"png":"https://flagcdn.com/w320/fr.png","svg":"https://flagcdn.com/fr.svg"},"coatOfArms":{"png":"https://mainfacts.com/media/images/coats_of_arms/fr.png","svg":"https://mainfacts.com/media/images/coats_of_arms/fr.svg"},"startOfWeek":"monday","capitalInfo":{"latlng":[48.87,2.33]},"postalCode":{"format":"#####","regex":"^(\\d{5})$"}}]'
  recorded_at: Mon, 14 Nov 2022 17:04:04 GMT
- request:
    method: get
    uri: https://api.geoapify.com/v2/places?apiKey=<places_api_key>&categories=tourism.sights&filter=circle:2.0,46.0,20000
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Api-Version:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"type":"FeatureCollection","features":[{"type":"Feature","properties":{"name":"Tour
        de l''horloge","street":"Allée de l''Horloge","suburb":"Les Granges","city":"Aubusson","municipality":"Aubusson","county":"Creuse","state":"New
        Aquitaine","region":"Metropolitan France","postcode":"23200","country":"France","country_code":"fr","lon":2.1686008833333332,"lat":45.957359,"formatted":"Tour
        de l''horloge, Allée de l''Horloge, 23200 Aubusson, France","address_line1":"Tour
        de l''horloge","address_line2":"Allée de l''Horloge, 23200 Aubusson, France","categories":["building","building.historic","heritage","tourism","tourism.sights","tourism.sights.castle"],"details":["details","details.heritage","details.wiki_and_media"],"datasource":{"sourcename":"openstreetmap","attribution":"©
        OpenStreetMap contributors","license":"Open Database Licence","url":"https://www.openstreetmap.org/copyright","raw":{"url":"http://en.wikipedia.org/wiki/File:Aubusson_tour_de_l_horloge.JPG","name":"Tour
        de l''horloge","osm_id":225390299,"ref:mhs":"PA00099998","building":"yes","heritage":3,"historic":"castle","osm_type":"w","wikidata":"Q22951256","wikipedia":"fr:Tour
        de l''Horloge","heritage:operator":"mhs","mhs:inscription_date":"1926-06-15"}},"place_id":"51d28de2694b5901405998a9a0ad8afa4640f00102f901db2e6f0d00000000920311546f7572206465206c27686f726c6f6765"},"geometry":{"type":"Point","coordinates":[2.1686008713020124,45.95735712380264]}},{"type":"Feature","properties":{"name":"Le
        Château","street":"D 18","suburb":"Le Chaussadis","city":"Ahun","municipality":"Guéret","county":"Creuse","state":"New
        Aquitaine","region":"Metropolitan France","postcode":"23150","country":"France","country_code":"fr","lon":2.0319593004704797,"lat":46.09207845,"formatted":"Le
        Château, D 18, 23150 Ahun, France","address_line1":"Le Château","address_line2":"D
        18, 23150 Ahun, France","categories":["building","building.historic","tourism","tourism.sights","tourism.sights.castle"],"details":["details.historic","details.wiki_and_media"],"datasource":{"sourcename":"openstreetmap","attribution":"©
        OpenStreetMap contributors","license":"Open Database Licence","url":"https://www.openstreetmap.org/copyright","raw":{"name":"Le
        Château","osm_id":51000012,"building":"yes","historic":"castle","osm_type":"w","wikipedia":"fr:Château
        de Chaussadis","castle_type":"chateau"}},"place_id":"51934f2a948e410040597f186e5dc90b4740f00102f901cc320a030000000092030b4c65204368c3a274656175"},"geometry":{"type":"Point","coordinates":[2.032010228673195,46.09208267093435]}},{"type":"Feature","properties":{"name":"Le
        Chapître","street":"Rue du Chapitre","suburb":"Les Mairies","city":"Aubusson","municipality":"Aubusson","county":"Creuse","state":"New
        Aquitaine","region":"Metropolitan France","postcode":"23200","country":"France","country_code":"fr","lon":2.1724470189922442,"lat":45.9564654,"formatted":"Le
        Chapître, Rue du Chapitre, 23200 Aubusson, France","address_line1":"Le Chapître","address_line2":"Rue
        du Chapitre, 23200 Aubusson, France","categories":["tourism","tourism.attraction","tourism.attraction.viewpoint","tourism.sights","tourism.sights.ruines"],"details":["details.wiki_and_media"],"datasource":{"sourcename":"openstreetmap","attribution":"©
        OpenStreetMap contributors","license":"Open Database Licence","url":"https://www.openstreetmap.org/copyright","raw":{"name":"Le
        Chapître","osm_id":116644793,"tourism":"viewpoint","historic":"ruins","osm_type":"w","wikidata":"Q22951248","wikipedia":"fr:Château
        d''Aubusson"}},"place_id":"517182b66d0861014059e85ca93c6cfa4640f00102f901b9dbf3060000000092030c4c652043686170c3ae747265"},"geometry":{"type":"Point","coordinates":[2.172379357464074,45.956428129860626]}},{"type":"Feature","properties":{"name":"Ruines
        du château","street":"D 37","suburb":"Rocheplate","city":"Le Monteil-au-Vicomte","municipality":"Guéret","county":"Creuse","state":"New
    [...]
