---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/search?channelId=<mr_history_id>&key=AIzaSyDGwDIv7vZ-rR4YzWm8tGKjWCP6XSiJWS8&part=snippet&q=Pakistan
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "youtube#searchListResponse",
          "etag": "XEvf6opgilIFlYQuY2uThmSywII",
          "nextPageToken": "CAUQAA",
          "regionCode": "US",
          "pageInfo": {
            "totalResults": 21,
            "resultsPerPage": 5
          },
          "items": [
            {
              "kind": "youtube#searchResult",
              "etag": "l_oltmEHtA6QF_zyoeR4kn9LI0w",
              "id": {
                "kind": "youtube#video",
                "videoId": "GTmHYVUJTAM"
              },
              "snippet": {
                "publishedAt": "2022-10-07T14:05:54Z",
                "channelId": "<mr_history_id>",
                "title": "A Super Quick History of Pakistan",
                "description": "Pictures/Video Requiring Attribution: https://pastebin.com/3c57sbcJ #Pakistan #history.",
                "thumbnails": {
                  "default": {
                    "url": "https://i.ytimg.com/vi/GTmHYVUJTAM/default.jpg",
                    "width": 120,
                    "height": 90
                  },
                  "medium": {
                    "url": "https://i.ytimg.com/vi/GTmHYVUJTAM/mqdefault.jpg",
                    "width": 320,
                    "height": 180
                  },
                  "high": {
                    "url": "https://i.ytimg.com/vi/GTmHYVUJTAM/hqdefault.jpg",
                    "width": 480,
                    "height": 360
                  }
                },
                "channelTitle": "Mr History",
                "liveBroadcastContent": "none",
                "publishTime": "2022-10-07T14:05:54Z"
              }
            },
            {
              "kind": "youtube#searchResult",
              "etag": "nDyy28mRTdmIrHdYYNSF5O6ref8",
              "id": {
                "kind": "youtube#video",
                "videoId": "peLrksyhkew"
              },
              "snippet": {
                "publishedAt": "2019-07-09T17:05:49Z",
                "channelId": "<mr_history_id>",
                "title": "A Super Quick History of Bangladesh",
                "[...]
